{
  "extends": "eslint:recommended",
  "rules": {
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    semi: [2, "always"]
  },
  
  "env": {
    "node": true
  },

  "plugins": [
    "flow-vars"
  ]
}
