{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "binaryLiterals": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "forOf": true,
      "generators": true,
      "modules": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": true,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "octalLiterals": true,
      "regexUFlag": true,
      "regexYFlag": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
      "unicodeCodePointEscapes": true,
      "globalReturn": true,
      "jsx": true
    }
  },
  "extends": [
    "standard",
    "plugin:security/recommended",
    "plugin:unicorn/recommended"
  ],
  "rules": {
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "security/detect-object-injection": "off",
    "unicorn/filename-case": "off",
    "camelcase": "off",
    "object-curly-spacing": "off",
    "standard/object-curly-even-spacing": [2, "either"],
    "unicorn/catch-error-name": ["error", {"name": "err"}]
  },

  "env": {
    "node": true,
    "es6": true
  },
  "plugins": [
    "babel",
    "flowtype",
     "security",
     "unicorn"
  ]
}